<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <link rel="icon" src="FinalYearProjectCurrent/files/icon.png">
    <title>Soccer Predictions</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="text-center col-sm-12 center mt-5 p-3 bg-info rounded-sm">
          <div class="center">
              <h1 style="color:white">Soccer Predictions</h1>
          </div>
        </div>
      </div>
    </div>
     {% include 'partial/navigation.html' %}
  {%  block content %}
  {%  endblock %}

  </body>
</html>